@{
    ViewData["Title"] = "Initial page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Tela de entrada</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/initial.css"/>
</head>
<body>
    
    <div class="bg">
        <h1>Mapaulista</h1>
        <form asp-controller="Home" asp-action="TelaInicial">
            <button type="submit" class="button">Entrar</button>
        </form>
        </div>

</body>
</html>
